<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/_jquery@3.4.1@jquery/dist/jquery.js"></script>
</head>
<body>
    <form action="/submit">
        用户名：<input type="text" name="userName"> <br/><br/>
        密码：<input type="text" name="password"><br/><br/>
        <input type="submit" value="提交" id="submit"><br/>
    </form>
    <script>
        // $('#submit').
    </script>
</body>
</html>